Problem 1.Given an array of n numbers, give an algorithm which gives the element appearing maximum
number of times?

In [7]:
arr = [3,4,5, 2,8, 1, 10, 6, 6,6, 8,8,8,8]

def bubble_sort(arr):
  for i in range(len(arr)-1, 0, -1):
    for j in range(i):
      if arr[j] > arr[j+1]:
        arr[j], arr[j+1] = arr[j+1], arr[j]
  return arr

# def selection_sort(arr):

def mostFreq(arr):
  bubble_sort(arr)
  print(arr)
  max_freq = 0
  max_element = None
  count =1
  for i in range(1,len(arr)):
    if arr[i-1]== arr[i]:
      count+=1
    else:
      count =1
    if count > max_freq:
      max_freq=count
      max_element = arr[i]

  return max_element


mostFreq(arr)

[1, 2, 3, 4, 5, 6, 6, 6, 8, 8, 8, 8, 8, 10]

8

Problem 2 : We are given a list of n-1 integers and these integers are in the range of 1 to n . There are no
duplicates in the list. One of the integers is missing in the list. Give an algorithm to find that element Ex:
[1,2,4,6,3,7,8] 5 is the missing num.

In [2]:
arr = [0,1,2,4,6,3,7,8]

def selection_sort(arr):
  for i in range(len(arr)):
    min=i
    for j in range(i, len(arr)):
      if arr[i]>arr[j]:
        arr[i], arr[j] = arr[j], arr[i]
  return arr

def missing_num(arr):
  arr = selection_sort(arr)
  for i in range(len(arr)-1):
    if arr[i] + 1 != arr[i+1]:
      return arr[i]+1

missing_num(arr)

5

Problem 3 : Given an array of n positive numbers. All numbers occurs even number of times except 1 which
occurs odd number of times. Find that number in O(n) time and O(1) space. Ex: [1,2,3,2,3,1,3]. 3 is repeats odd
times.

In [5]:
arr =  [1,2,4,5,4,5,3,2,3,1,3]

def get_odd_occurence(arr):
  res = 0
  for element in arr:
    res = res ^ element
    print("res:",res, "element:", element)

  return res


get_odd_occurence(arr)

res: 1 element: 1
res: 3 element: 2
res: 0 element: 3
res: 2 element: 2
res: 1 element: 3
res: 0 element: 1
res: 3 element: 3

3

Problem 4 : Given an array of n elements. Find two elements in the array such that their sum is equal to given
element K.

In [14]:
arr = [1, 2, 3, 4,9]

def sum_elements(arr):
  for i in range(len(arr)):
    for j in range(i+1,len(arr)):
      for k in range(j, len(arr)):
        if arr[i] + arr[j] == arr[k]:
          return arr[i], arr[j]

sum_elements(arr)

(1, 2)

Problem 5 : Given an array of both positive and negative numbers, find two numbers such that their sum is
closest to 0. Ex: [ 1 ,60 ,-10, 70, -80,85]. Ans : -80,85.

In [24]:
arr = [ 1 ,60 ,-10, 70, -80,85]

def closest_0(arr):
  min = 999
  e1=None
  e2=None
  for i in range(len(arr)):
    for j in range(i+1, len(arr)):
      sum = arr[i] + arr[j]
      if abs(sum) < min:
        min=abs(sum)
        e1,e2 = arr[i],arr[j]
  return e1,e2


closest_0(arr)

(-80, 85)

Problem 6 : Given an array of n elements . Find three elements such that their sum is equal to the given
number

In [27]:
def find_three_numbers(arr, x):
  n = len(arr)
  for i in range(0, n - 2):
      for j in range(i + 1, n - 1):
          for k in range(j + 1, n):
              if arr[i] + arr[j] + arr[k] == x:
                  return arr[i], arr[j], arr[k]
  return -1, -1, -1

arr = [1, 2, 3, 4,9,6]
find_three_numbers(arr,  6)

(1, 2, 3)

Problem 7 : Given an array of n elements . Find three elements i, j, k in the array such that

i * i + j * j = k*k.

In [34]:
def find_3_elements(arr):
  n = len(arr)
  for i in range(n):
    for j in range(i+1, n):
      for k in range(j+1,n):
        if (arr[i]*arr[i] + arr[j]*arr[j] == arr[k]*arr[k]):
          return arr[i], arr[j], arr[k]
  return -1, -1, -1

arr = [1, 2, 3, 4, 5, 6, 9, 10, 14]

find_3_elements(arr)

(3, 4, 5)

Problem 8 : An element is a majority if it appears more than n/2 times. Give an algorithm takes an array of n
element as argument and identifies a majority (if it exists).

In [35]:
def check_majority(arr):
  n = len(arr)
  majority = None
  count = 0
  for i in arr:
    if count == 0:
      majority = i
    if i == majority:
      count +=1
    if count > 1/2:
      return majority
    else:
      return None

arr = [0,0,1,2,2,0,0,0,0,]
check_majority(arr)

0

Problem 9 : Given n × n matrix, and in each row all 1’s are followed by 0’s. Find the row with the maximum
number of 0’s.

In [43]:
def max_zero_row(matrix):
  m = 0
  count=0
  for i in matrix[0]:
    for j in matrix[1]:
      if j==0:
        count+=1
    if count>m:
      m=count
      return i

matrix = [[0,0,0],
          [0,1,0],
          [1,1,0]]

max_zero_row(matrix)

0

Problem 10 : Sort an array of 0’s, 1’s and 2’s [or R’s, G’s and B’s]: Given an array A[] consisting of 0’s, 1’s and
2’s, give an algorithm for sorting A[].The algorithm should put all 0’s first, then all 1’s and finally all 2’s at the
end. Example Input = {0,1,1,0,1,2,1,2,0,0,0,1}, Output = {0,0,0,0,0,1,1,1,1,1,2,2}

In [9]:
def sort_012(arr):
  low = 0
  high = len(arr)-1
  mid = 0
  while mid<=high:
    if arr[mid]==0:
      arr[low], arr[mid] = arr[mid], arr[low]
      low+=1
      mid+=1
    elif arr[mid] == 1:
      mid+=1
    else:
      arr[mid], arr[high] = arr[high], arr[mid]
      # mid+=1
      high-=1
  return arr

arr = [0,1,1,0,1,2,1,2,0,0,0,1]
sort_012(arr)

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2]